[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pylint-import-requirements = {editable = true,path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pylint-import-requirements-test-simple = {editable = true, path = "./tests/test-packages/simple"}
pylint-import-requirements-test-namespace = {path = "./tests/test-packages/namespace"}

[requires]
python_version = "3"
